
@media (min-width: 300px){
    body{
        position: relative;
        background: #081b29 !important;
        color: white !important;
    }
    .container{
        max-width: 400px;
    }
    .user-title{
        /* background: green; */
        color: white;
        user-select: none;
    }
    .user-title > h1 {
        font-weight: 900;
        font-size: 60px;
    }
    .user-menu {
        /* background: red; */
        height: 90px;
        user-select: none;
    }
    .user-menu-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: aqua;
        color: black !important;
        font-size: 50px;
        border: 3px solid #ddd;
        font-weight: 600;
    }
    .user-menu-item:hover  {
        background: red;
        cursor: pointer;
    }

    .user-menu-item1:hover .user-menu-item1-list{
        display: flex;
    }
    .user-menu-item1-list {
        display: none;
        flex-direction: column;
        position: absolute;
        font-size: 30px;
        background: #ddd;
        width: 100%;
        top: 100%;
        z-index: -1;
    }
    .user-menu-item1-list > li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 45px;
        font-weight: 400 !important;
    }
    .list-item:hover {
        background: greenyellow;
        cursor: pointer;
    }

    /*----------------------Danh từ----------------------- */
    .container-DanhTu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -50px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #081b29;
        z-index: 10;
    }
    .container-DanhTu .back-DanhTu{
        position: absolute;
        font-size: 40px;
        bottom: 150px;
        right: 50px;
        background: red;    
        padding: 10px 10px;
    }
    .container-DanhTu-title {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
    }
    
    .container-DanhTu-title > h1 {
        display: block;
        font-size: 50px
    }
    .container-DanhTu-content {
        display: flex;
        flex-direction: column;
        background: white;
        width: 80%;
        margin-left: 10%;
        height: 60%;
        list-style: none;
    }
    .container-DanhTu-content i{
        color: red;
    }
    .container-DanhTu-content-item {
        color: black;
        position: relative;
        width: 100%;
        height: 16.66666666666667%;
        border: 1px solid #ddd;
    }
    .container-DanhTu-content-1 {
        /* background: blue; */
    } 
    .container-DanhTu-content-1-quetsion, .quetsion{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: greenyellow;
    }
    .container-DanhTu-content-1-answer, .answer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*-------------------------------container-random-------------------------------*/
    .container-DanhTu-random {
        width: 100%;
        height: 10%;
        /* background: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-DanhTu-random-reset {
        width: 300px;
        height: 100px;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-DanhTu-random-reset:hover {
        background: red;
        cursor: pointer;
    }

}

@media (min-width: 1200px){
    .user-title{
        /* background: green; */
        color: white;
        user-select: none;
    }
    .user-title > h1 {
        font-weight: 900;
        font-size: 40px;
    }
    .user-menu {
        /* background: red; */
        height: 90px;
        user-select: none;
    }
    .user-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background: aqua;
        color: black !important;
        font-size: 25px;
        border: 3px solid #ddd;
    }
    .user-menu-item:hover {
        background: red;
        cursor: pointer;    
    }
    /* .user-menu-empty {
        
    } */
    .user-menu-item1-list {
        display: none;
        flex-direction: column;
        position: absolute;
        font-size: 30px;
        background: #ddd;
        width: 100%;
        top: 100%;
        z-index: -1;
    }
    .user-menu-item1-list > li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-size: 25px;
        font-weight: 400 !important;
    }
    .list-item:hover {
        background: greenyellow;
        cursor: pointer;
    }
}



























